
div.projectsSection{
  margin-bottom: 0rem;
}

.buddyImage{
  width: 40%;
  display: inline-block;
  vertical-align: middle;

  border: double 3px transparent;
  border-width: 3px;
  background-image: linear-gradient(#1a1a1a, #1a1a1a), radial-gradient(circle at top left, #399df5, #ac5cda);
  border-radius: 10px;
  background-origin: border-box;
  background-clip: content-box, border-box;
  overflow: hidden;
}

.slide span {
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  color: white;
  background: rgba(141, 174, 224, 0.5);
  text-align: center;
}

.each-slide-effect > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 60rem;
  width: 100%;
}

.each-slide-effect span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.shaderArt{
  width: 50rem;
  border-radius: 5%;
  display: inline-block;
  vertical-align: middle;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
}

.unityRender{
  width: 25%;
  border-radius: 0%;
  display: inline-block;
  vertical-align: middle;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;

  border: double 3px transparent;
  border-image-slice: 1;
  border-width: 3px;
  background-image: linear-gradient(#1a1a1a, #1a1a1a), radial-gradient(circle at top left, #399df5, #ac5cda);
  border-radius: 10px;
  background-origin: border-box;
  background-clip: content-box, border-box;
  overflow: hidden;
}


.percPicture{
  width: 20%;
  border-radius: 5%;
  display: inline-block;
  vertical-align: middle;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;

  border: double 3px transparent;
  border-image-slice: 1;
  border-width: 3px;
  background-image: linear-gradient(#1a1a1a, #1a1a1a), radial-gradient(circle at top left, #399df5, #ac5cda);
  border-radius: 10px;
  background-origin: border-box;
  background-clip: content-box, border-box;
  overflow: hidden;
}

.projectList {
  list-style-type: none;
  padding-left: 0;
  font-size: 1.1rem;
}