/*
Title colors: #C1B098; #d1cbae;
BG Colors: #242424;
Button Colors: #1a1a1a;
#b2b7f1;
*/

:root {

  --backgroundColor:#242424;

  --defaultTextColor: rgba(255, 255, 255, 0.87);

  --titleColor: #d1cbae;

  --panelHeaderColor: #d1cbae;

  --buttonColor: #1a1a1a;
  --buttonHoverColor: #d1cbae;

  /*font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;*/
  font-family: Arial, Helvetica, sans-serif;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  margin: 0 auto;
  padding: 0rem;
  text-align: center;

  color-scheme: light dark;
  background-color: var(--backgroundColor);

  
  color: #fafafa;

  
}

.page{
  margin-bottom: 5rem;
}

.hero{
  position: relative;
  display: flex;
  height: 100vh;
  width: 100%;
  z-index: 999;
}

.canvas{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--backgroundColor);
  overflow: hidden;
}

.sectionHeader{
  position: absolute;
  content: '';
  border-bottom: 18px solid #ac5cda;
  width: 22.5rem;
  display: block;
  margin: 0 auto;
  position: relative;
  top: 6.3rem;
  margin-bottom: 10rem;
  z-index: -1;
  position: relative;
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: normal;
  width: fit-content;
  height: auto;
  font-size: 4rem;
  font-weight: 700;
}

.homeButton{
  display: block;
  margin: 2rem auto; 
}

.mainPicture{
  width: 12rem;
  border-radius: 50%;
  display: inline-block;
}


.mainPicture:hover{
  animation: spin .1s linear infinite;
}

.middlePicture{
  margin-left: 5rem;
  margin-right: 5rem;
}

@keyframes spin { 
    100% { 
        /*transform:rotate3d(1, 1, 1, 360deg); */
        transform: rotate(360deg)
    }
  }

.titleCard{
  /*filter: drop-shadow(0 0 5rem var(--titleColor));*/
  color: var(--titleColor);
  position: relative;
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: normal;
  width: fit-content;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  color: #fafafa;
  font-weight: 300;
  z-index: 999;
}

.titleCardLine1{
  font-size: 3rem;
  text-align: center;
  margin-left: 4rem;
  margin-right: 4rem;
}

.titleCardLine2{
  font-size: 3rem;
  text-align: center;
  margin-left: 4rem;
  margin-right: 4rem;
}

.panelHeader{
  color: var(--panelHeaderColor);
  font-size: 1.6rem;
}

.paragraph{
  width: 60%;
  margin: 1.5rem auto;
  margin-top: 2.5rem;
  font-size: 1.3rem;
}


.funPanel,
.professionalPanel {
  display: inline-block; /* Use inline-block to allow them to be side by side */
}

.funPanel {
  margin-right: 15rem; /* Adjust margin as needed */
}

.professionalPanel {
  margin-right: 0; /* Remove margin from the last panel */
}

.resumeButton,
.projectsButton,
.experienceButton,
.hobbiesButton,
.favoritesButton,
.photosButton {
  display: block;
  margin: 1rem auto; 
}

h1 {
  font-size: 4.7rem;
  margin-bottom : 2rem;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6rem 1.3rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--buttonColor);
  cursor: pointer;
  transition: border-color 0.5s;
  width: 15rem;
  height: 3rem;
}
button:hover {
  border-color: var(--buttonHoverColor);
  filter: drop-shadow(0 0 5px var(--buttonHoverColor));
}
